.navbar {
    background-color: orange;
    top: -10px;
    display: flex ;
    padding: 0 10%;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    color:  #fff;
    opacity: 0;
    z-index: 12;
    height: 70px;
    animation: comeup 2s ease 2s  forwards;
}

@keyframes comeup {
  from {top: -75px; opacity: 0;}
  to {top: 0; opacity: 0.85;}
}

 .logoContainer {
    color: orange;
    position: relative;
    width: 100px;
    height: 100%;
} 
.navbarContainer {
    display: block;
    position: relative;
    width: 100vw;
    margin-top: 5px;
}
  .navbarContainer input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 55px;
    width: 45px;
    top: 10px;
    right: 20px;
    z-index: 3;
    opacity: 0;
  }

  .hamburgerLines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbarContainer .hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  .navbarContainer .hamburgerLines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbarContainer .hamburgerLines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbarContainer .hamburgerLines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menuItems {
    padding-top: 100px;
    background: orange;
    height: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 5px #aaa;
  }

  .navbar .menuItems li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    list-style: none;
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .navbarContainer input[type="checkbox"]:checked ~ .menuItems {
    opacity: 1;
  }

  .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
    transform: rotate(35deg);
  }

  .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
    transform: scaleY(0);
  }

  .navbarContainer input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
    transform: rotate(-35deg);
  }